body {
    background-color: antiquewhite;
}
.head {
    text-align: center;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: normal;
    font-style: italic;
    text-transform: uppercase;
}
.number {
    display: flex;
    font-size:25px;
    font-weight:bold;
    
}

.twoo {
    margin-left: 4%;

}
.first {
    margin-left: 1%;
}
.js-output {
    color: red;
    font-size: 31px;
}